<div class="users">

  <ul class="users_list">
    <li>
      <app-user-list-item></app-user-list-item>
    </li>
    <li>
      <app-user-list-item></app-user-list-item>
    </li>
    <li>
      <app-user-list-item></app-user-list-item>
    </li>
    <li>
      <app-user-list-item></app-user-list-item>
    </li>
    <li>
      <app-user-list-item></app-user-list-item>
    </li>
    <li>
      <app-user-list-item></app-user-list-item>
    </li>
    <li>
      <app-user-list-item></app-user-list-item>
    </li>
    <li>
      <app-user-list-item></app-user-list-item>
    </li>
    <li>
      <app-user-list-item></app-user-list-item>
    </li>
    <li>
      <app-user-list-item></app-user-list-item>
    </li>

  </ul>

</div>
