  <!-- jQuery JavaScript -->
  <script src="./vendor/jquery/jquery.slim.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script src="./vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Detect RTC -->
  <script src="./vendor/detectrtc/DetectRTC.js"></script>
  <!-- Praatbox script -->
  <script>
  	var lang = "{{ page.lang }}";
  </script>
  <script src="./app.js?v{VERSION}"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52249571-4"></script>
  <script>
  	window.dataLayer = window.dataLayer || [];

  	function gtag() {
  		dataLayer.push(arguments);
  	}
  	gtag('js', new Date());

  	gtag('config', 'UA-52249571-4');
  </script>
  </body>

  </html>