
<!doctype html>
<html lang="nl">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Primary Meta Tags -->
	<title>Veelgestelde vragen | Praatbox.be</title>
	<meta name="title" content="Praatbox.be">
	<meta name="description" content="Eenvoudig, snel &eacute;n veilig beeldbellen voor iedereen!">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://www.praatbox.be/">
	<meta property="og:title" content="Praatbox.be">
	<meta property="og:description" content="Eenvoudig, snel &eacute;n veilig beeldbellen voor iedereen!">
	<meta property="og:image" content="https://www.praatbox.be/praatbox-og.jpg">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://www.praatbox.be/">
	<meta property="twitter:title" content="Praatbox.be">
	<meta property="twitter:description" content="Eenvoudig, snel &eacute;n veilig beeldbellen voor iedereen!">
	<meta property="twitter:image" content="https://www.praatbox.be/praatbox-og.jpg">

	<!-- Bootstrap core CSS -->
	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
		integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
	<link href="./style.css?v{VERSION}" rel="stylesheet">

</head>