
.app {
  width: 100%;
  min-height: 100vh;
  display: grid;
  padding: 50px;
  position: relative;
  max-width: 978px;
  margin: auto;

  grid-template-rows: fit-content(100%) auto;
  grid-template-columns: auto;
  grid-gap: 30px;
  grid-template-areas:
    'title'
    'chat ';

  &__title {
    grid-area: title;
    font-size: 18px;
    font-weight: 800;
    padding-bottom: 20px;
  }

  &_chat {
    grid-area: chat;
  }

  //&__users {
  //  grid-area: users;
  //  overflow-y: auto;
  //
  //  &::-webkit-scrollbar {
  //    width: 3px;
  //  }
  //
  //  &::-webkit-scrollbar-track {
  //    background: #f1f1f1;
  //  }
  //
  //  &::-webkit-scrollbar-thumb {
  //    background: #bfbfbf;
  //  }
  //
  //  &::-webkit-scrollbar-thumb:hover {
  //    background: #888888;
  //  }
  //}
}
