{% include head.html %}

<body>
  <script src="https://meet.jit.si/external_api.js"></script>
  <!-- sanity check -->
  <div class="container hidden" id="alert_js">
    <div class="alert alert-danger" role="alert">
      Je hebt Javascript uitgeschakeld. Javascript is noodzakelijk voor Praatbox.
    </div>
  </div>
  <!-- Page Content -->
  <div class="container hidden" id="roomdata">
    {% include language-switch.html %}
    <div class="row my-md-1">
      <div class="col-lg-8 mx-auto">

        <div class="card mb-5">
          <div class="card-body">
            <h1 class="display-4"><img src="/praatbox_logo.svg" class="mx-auto d-block bb-logo" alt="Praatbox">
            </h1>
            <p id="intro">{{translate.intro[page.lang]}}</p>

            <div class="collapse" id="uitleg">
              <h2 key="how-to-use">{{translate.how-to-use[page.lang]}}</h2>
              <ol class="steps">
                <li>{{translate.steps-1[page.lang]}}</li>
                <li>{{translate.steps-2[page.lang]}}</li>
                <li>{{translate.steps-3[page.lang]}}</li>
                <li>{{translate.steps-4[page.lang]}}</li>
                <li>{{translate.steps-5[page.lang]}}</li>
                <li>{{translate.steps-6[page.lang]}}</li>
              </ol>
              <p>{{translate.steps-more-questions[page.lang]}}</p>

            </div>

            <h2>{{translate.start-a-box[page.lang]}}</h2>
            <div class="opgelet">
              <p>{{translate.name-limitations[page.lang]}}</p>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div id="alert_rtc" class="row my-md-1 hidden">
        <div class="col-lg-8 mx-auto">
          <div class="alert alert-warning hidden" role="alert">
          </div>
          <div class="alert alert-danger hidden" role="alert">
            <p>{{translate.input-too-long[page.lang]}}</p>
          </div>
        </div>
      </div>
      <div class="row my-md-1">
        <div class="col-lg-8 mx-auto">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" id="basic-addon1" for="a">{{translate.praatbox-name[page.lang]}}</label>
            </div>
            <input type="text" class="form-control" id="a" placeholder="{{translate.placeholder-name[page.lang]}}"
              aria-label="Username" aria-describedby="basic-addon1" data-toggle="tooltip" data-placement="bottom"
              title="bv.: Oma-Gent" required>
          </div>
        </div>
      </div>
      <div class="row my-md-1">
        <div class="col-lg-8 mx-auto">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" id="basic-addon1"
                for="b">{{translate.praatbox-location[page.lang]}}</label>
            </div>
            <input type="text" class="form-control" id="b" placeholder="{{translate.placeholder-location[page.lang]}}"
              aria-label="Username" aria-describedby="basic-addon1" data-toggle="tooltip" data-placement="bottom"
              title="bv.: Sint-Niklaas, Gent,  ..." required>
          </div>
        </div>
      </div>
      <div class="row my-md-1">
        <div class="col-lg-8 mx-auto">

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="c">{{translate.random-word[page.lang]}}</label>
            </div>
            <select class="custom-select" id="c">
              <option value=""></option>
              <option value="kaars">kaars</option>
              <option value="kaart">kaart</option>
              <option value="kaas">kaas</option>
              <option value="kamer">kamer</option>
              <option value="kans">kans</option>
              <option value="kant">kant</option>
              <option value="kantoor">kantoor</option>
              <option value="kap">kap</option>
              <option value="kast">kast</option>
              <option value="kasteel">kasteel</option>
              <option value="kat">kat</option>
              <option value="kennen">kennen</option>
              <option value="kennis">kennis</option>
              <option value="keuken">keuken</option>
              <option value="keus">keus</option>
              <option value="kiezen">kiezen</option>
              <option value="kijken">kijken</option>
              <option value="kind">kind</option>
              <option value="kip">kip</option>
              <option value="kist">kist</option>
              <option value="klaar">klaar</option>
              <option value="klas">klas</option>
              <option value="klasse">klasse</option>
              <option value="kleden">kleden</option>
              <option value="klein">klein</option>
              <option value="kleren">kleren</option>
              <option value="kleur">kleur</option>
              <option value="klimmen">klimmen</option>
              <option value="klok">klok</option>
              <option value="kloppen">kloppen</option>
              <option value="klopt">klopt</option>
              <option value="knie">knie</option>
              <option value="knippen">knippen</option>
              <option value="koers">koers</option>
              <option value="koffer">koffer</option>
              <option value="koffie">koffie</option>
              <option value="kok">kok</option>
              <option value="koken">koken</option>
              <option value="kom">kom</option>
              <option value="komen">komen</option>
              <option value="koning">koning</option>
              <option value="koningin">koningin</option>
              <option value="koorts">koorts</option>
              <option value="kop">kop</option>
              <option value="kopen">kopen</option>
              <option value="kort">kort</option>
              <option value="kost">kost</option>
              <option value="kosten">kosten</option>
              <option value="koud">koud</option>
              <option value="kraam">kraam</option>
              <option value="kracht">kracht</option>
              <option value="krant">krant</option>
              <option value="krijgen">krijgen</option>
              <option value="kruis">kruis</option>
              <option value="kuil">kuil</option>
              <option value="kunnen">kunnen</option>
              <option value="kunst">kunst</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row my-md-1">
        <div class="col-lg-8 mx-auto">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" id="basic-addon1"
                for="b">Start de Praatbox zonder geluid en beeld</label>
            </div>
            <input type="checkbox" class="form-control" id="viewOnly" placeholder="Start de Praatbox zonder geluid en beeld"
              aria-label="viewOnly" aria-describedby="basic-addon1" data-toggle="tooltip" data-placement="bottom"
              title="Start de Praatbox zonder geluid en beeld">
          </div>
        </div>
      </div>
      <div class="row my-md-1">

        <div class="col-lg-8 mx-auto">
          <button onclick="redirectToRoom()" value="Start de praatbox"
            class="enableOnInput btn btn-primary mb-2 hidden">{{translate.start-praatbox[page.lang]}}</button>
        </div>
      </div>

      <div class="row my-md-1">
        <div class="col-lg-8 mx-auto d-flex justify-content-between">
          <p><a href="#uitleg" data-toggle="collapse">{{translate.how-to-use[page.lang]}}</a></p>
          <p><a href="/pages/{{page.lang}}/beeldbellen.html">{{translate.beeldbellen[page.lang]}}</a></p>
          <p><a href="/pages/{{page.lang}}/vragen.html">{{translate.faq[page.lang]}}</a></p>
        </div>
      </div>

      <div class="row my-md-1">
        <div class="col-lg-8 mx-auto d-flex justify-content-between">
          <p><a href="https://www.coronadenktank.be/" target="_blank" rel="noopener">www.coronadenktank.be</a></p>
          <p class="version">v. {VERSION}</p>
        </div>
      </div>
      <hr />
      <div class="col-lg-8 mx-auto d-flex justify-content-between">
        <p><small><a href="#terms" data-toggle="collapse">{{translate.termstitle[page.lang]}}</a></small></p>
        <p><small><a href="/pages/{{page.lang}}/privacy.html">Privacy</a></small></p>        
      </div>

      <div class="col-lg-8 mx-auto collapse" id="terms">
      {{translate.terms[page.lang]}}
      </div>
    </div>
  </div>

  <div id="chan" class="hidden">
    <div class="meethead">
      <div class="meethead__logo">
        <img src="/praatbox_logo.svg" class="meethead__logoimg" alt="Praatbox">
      </div>
      <div class="meethead__body">
        <div id="meeting-text">{{translate.meeting-header-text[page.lang]}}</div>
        <div class="meethead__buttons">
          <button id="btn_copy_link" class="btn btn-sm btn-copy btn-info mb-2 mr-1" id="linkbtn">{{translate.copy-link[page.lang]}}</button>
          <button id="btn_whatsapp" class="btn btn-sm btn-whatsapp btn-info mb-2 mr-1"><i class="fab fa-whatsapp"></i> WhatsApp</button>
          <button id="btn_mail" class="btn btn-sm btn-whatsapp btn-info mb-2 mr-1"><i class="far fa-envelope"></i> Mail</button>
          <button id="btn_reload" class="btn btn-sm btn-info mb-2 mr-1"><i class="fas fa-sync-alt"></i>
            <span>{{translate.reload[page.lang]}}</span></button>
        </div>
      </div>
    </div>
    <div class="meet" id="meet"></div>
  </div>
  {% include footer.html %}