{% include head.html %}
<body>
	<!-- Nav -->
	<div class="container sticky-top bg-white topnav pt-2 border-bottom mb-3" id="pageheader">
		{% include set_language.html %}
		<div class="row justify-content-sm-center my-md-1">
			<div class="col-6 col-lg-4">
				<a href="/" class="btn btn-sm btn-outline-primary">&larr; Terug</a>
			</div>
			<div class="col-6 col-lg-4 text-right text-md-left">
				<a href="/"><img src="./praatbox_logo.svg" class="topnav__logoimg float-right"
						alt="Praatbox"></a>
			</div>
		</div>
		<div class="row my-md-1">
			<div class="col-lg-8 mx-auto">
				<h1 class="responsive-h1 mt-2" key="faq">NOT_TRANSLATED</h1>
			</div>
		</div>
	</div>
	<!-- /Nav -->
	<!-- Page Content -->
	<div class="container" id="faq">
		<div class="row my-md-1">
			<div class="col-lg-8 mx-auto">
				<!-- Collapsibles -->
				<!-- vraag -->
				<div class="card">
					<div class="card-body">
						<details>
							<summary class="summary" key="faq_1">NOT_TRANSLATED</summary>
							<p key="faq_1_a">NOT_TRANSLATED</p>
						</details>
					</div>
				</div>
				<!-- /vraag -->
				<!-- vraag -->
				<div class="card">
					<div class="card-body">
						<details>
							<summary class="summary" key="faq_2">NOT_TRANSLATED</summary>
							<p key="faq_2_a">NOT_TRANSLATED</p>
							<ol>
								<li key="faq_2_a_li_1">NOT_TRANSLATED</li>
								<li key="faq_2_a_li_2">NOT_TRANSLATED</li>
								<p key="faq_2_a_end">NOT_TRANSLATED</p>
							</ol>
							<img src="./img/faq/Picture2.png" class="img-fluid" alt="Screenshot">
						</details>
					</div>
				</div>
				<!-- /vraag -->
				<!-- vraag -->
				<div class="card">
					<div class="card-body">
						<details>
							<summary class="summary" key="faq_3">NOT_TRANSLATED</summary>
							<p key="faq_3_a">NOT_TRANSLATED</p>
						</details>
					</div>
				</div>
				<!-- /vraag -->
				<!-- vraag -->
				<div class="card">
					<div class="card-body">
						<details>
							<summary class="summary" key="faq_4">NOT_TRANSLATED</summary>
							<p key="faq_4_a">NOT_TRANSLATED</p>
						</details>
					</div>
				</div>
				<!-- /vraag -->
				<!-- vraag -->
				<div class="card">
					<div class="card-body">
						<details>
							<summary class="summary" key="faq_5">NOT_TRANSLATED</summary>
							<p key="faq_5_a">NOT_TRANSLATED</p>
						</details>
					</div>
				</div>
				<!-- /vraag -->
				<!-- vraag -->
				<div class="card">
					<div class="card-body">
						<details>
							<summary class="summary" key="faq_6">NOT_TRANSLATED</summary>
							<p key="faq_6_a">NOT_TRANSLATED</p>
							<p key="faq_6_ttl_img">NOT_TRANSLATED</p>
							<img src="./img/faq/Picture3.png" class="img-fluid mb-4" alt="Screenshot">
							<p key="faq_6_a_end">NOT_TRANSLATED</p>
						</details>
					</div>
				</div>
				<!-- /vraag -->
				<!-- vraag -->
				<div class="card">
					<div class="card-body">
						<details>
							<summary class="summary" key="faq_7">NOT_TRANSLATED</summary>
							<p key="faq_7_a">NOT_TRANSLATED</p>
							<img src="./img/faq/Picture4.png" alt="Mozaïekbeeld van video's" />
						</details>
					</div>
				</div>
				<!-- /vraag -->
				<!-- vraag -->
				<div class="card">
					<div class="card-body">
						<details>
							<summary class="summary" key="faq_8">NOT_TRANSLATED</summary>
							<p key="faq_8_a">NOT_TRANSLATED</p>
							<img src="./img/faq/Picture5.png" alt="Screenshot" />
						</details>
					</div>
				</div>
				<!-- /vraag -->
				<!-- vraag -->
				<div class="card">
					<div class="card-body">
						<details>
							<summary class="summary" key="faq_9">NOT_TRANSLATED</summary>
							<p key="faq_9_a">NOT_TRANSLATED</p>
						</details>
					</div>
				</div>
				<!-- /vraag -->
				<!-- vraag -->
				<div class="card">
					<div class="card-body">
						<details>
							<summary class="summary" key="faq_10">NOT_TRANSLATED</summary>
							<p key="faq_10_a">NOT_TRANSLATED</p>
						</details>
					</div>
				</div>
				<!-- /vraag -->
				<!-- vraag -->
				<div class="card">
					<div class="card-body">
						<details>
							<summary class="summary" key="faq_11">NOT_TRANSLATED</summary>
							<p key="faq_11_a">NOT_TRANSLATED</p>
							<img src="./img/faq/Picture6.png" alt="Screenshot" />
						</details>
					</div>
				</div>
				<!-- /vraag -->
				<!-- vraag -->
				<div class="card">
					<div class="card-body">
						<details>
							<summary class="summary" key="faq_12">NOT_TRANSLATED</summary>
							<p key="faq_12_a">NOT_TRANSLATED</p>
							<img src="./img/faq/Picture7.png" alt="Screenshot" />
						</details>
					</div>
				</div>
				<!-- /vraag -->
				<!-- /Collapsibles -->
			</div>
		</div>
	</div>
	<!-- /Page Content -->
{% include footer.html %}