.name {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.58);
  background-blend-mode: soft-light;

  display: flex;
  justify-content: center;
  align-items: center;

  &__field {
    outline: none;
    margin: 0;
    padding: 2rem;
    border: unset;
    background-color: transparent;
    width: 100%;
    display: block;
    transition: box-shadow 250ms ease-in-out;
    border-radius: 3px;
    text-align: center;
    color: white;
    font-size: 45px;

    &::placeholder {
      color: rgba(255, 255, 255, 0.61);

    }

  }
}
